nav {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    height: 20vh;

    ul {
        display: flex;
        justify-content: space-evenly;
        flex: 5;
        list-style: none;
        padding-top: 30px;
    }

    #logo-container {
        flex: 3;
        padding-top: 2px;
        z-index: 1;
    }
}

.beige {
    color: $beige;
}

.yellow {
    color: $yellow;
}