.profile-container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .nav-and-content {
        background-color: rgba($light-purple-background, 0.2);
        display: flex;
        justify-content: space-around;
        margin-top: 5vh;
        min-height: 70vh;


        .profile-nav {

            flex: 2;
            background-color: $light-purple-background;
            border-bottom-right-radius: 40px;
            border-top-right-radius: 40px;

            height: 70vh;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            overflow: hidden;

            .option {
                outline: none;
                border: none;
                background: none;
                height: 100%;
                transition-duration: 0.5s;
                color: #4b0747;
                font-size: 1.4em;
                font-weight: bold;
            }

            .option:hover {
                transition: 1s;
                background-color: black;
                color: #eba0e6;
            }
        }

        .single-option {
            flex: 8;
        }
    }
}