.search-container {
  position: relative;
  width: 100vh;
  margin-left: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
}

  .search-container .search-bar {
    width: 100vh;
  }

    .search-container .search-bar input {
        height: 8vh;
        width: 100vh;
        left: 10vh;
        top: 3vh;
        margin-bottom: 8vh;
        position: relative;
        padding-top: 1vh;
        background: rgba(196, 196, 196, 0.4);
        color: rgba(255, 255, 255, 0.8);  
        text-align: left;
        border: none;
        outline: none;
        z-index: 3;
        font-size: 2em;
        padding: 1vh 1vw;
      }
    
  .search-container .search-filter {
    height: 8vh;
    width: 130vh;
    margin-bottom: 5vh;    
    margin-right:50vh;
    top: 2vh;
    padding-top: 2vh;
    background: rgba(252, 239, 195, 0.8);
    display: flex;
    flex-direction: row;

    h2 {
        margin: 0 auto;
        color: black;

    }
  }
