.top-shape-container {
    position: relative;
    width: 100%;
    height: auto;

    img {
        position: absolute;
        width: 45vw;
        height: auto;
        left: 0;
        top: -5vh;
        z-index: 1; 
    }
}

