@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");
nav {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2em;
  height: 20vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  list-style: none;
  padding-top: 30px;
}

nav #logo-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-top: 2px;
  z-index: 1;
}

.beige {
  color: #DAA89B;
}

.yellow {
  color: #fcf1cf;
}

.top-shape-container {
  position: relative;
  width: 100%;
  height: auto;
}

.top-shape-container img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.popular-container {
  height: 65vh;
  width: 100vw;
  position: relative;
  text-align: center;
  background-color: rgba(196, 196, 196, 0.2);
  margin-bottom: 35vh;
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: 1fr 6fr 1fr;
      grid-template-rows: 1fr 6fr 1fr;
}

.popular-container h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-top: 3vh;
}

.popular-container .popular-movies {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 95%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-container .balls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.popular-container .balls .ball {
  background-color: rgba(221, 221, 221, 0.5);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0px 10px;
}

.popular-container .balls .active {
  background: #DDDDDD;
}

.genres-container {
  position: relative;
  text-align: center;
  height: 55vh;
}

.genres-container .genres {
  background-color: rgba(196, 196, 196, 0.2);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.genres-container .genres .genre {
  width: 60%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  position: relative;
}

.genres-container .genres .genre::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
}

.genres-container .genres .action::after {
  background-image: url(../assets/genres/genre-1-action.png);
}

.genres-container .genres .romance::after {
  background-image: url(../assets/genres/genre-2-romance.png);
}

.genres-container .genres .thriller::after {
  background-image: url(../assets/genres/genre-3-thriller.png);
}

.genres-container .genres .fantasy::after {
  background-image: url(../assets/genres/genre-4-fantasy.png);
}

.genres-container .genres .comedy::after {
  background-image: url(../assets/genres/genre-5-comedy.png);
}

.genres-container .genres .horror::after {
  background-image: url(../assets/genres/genre-6-horror.png);
}

.genres-container .tv {
  position: absolute;
  right: 0;
  bottom: 100%;
}

.genres-container .genres-header {
  position: absolute;
  left: 5vw;
  top: -10vh;
  background-color: rgba(218, 168, 155, 0.8);
  height: 12vh;
  width: 30vw;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genres-container .genres-header h2 {
  color: black;
}

.more-container {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container {
  text-align: center;
  position: relative;
}

.top-container .single-movie {
  height: 35vh;
  background: rgba(196, 196, 196, 0.4);
  width: 90%;
  margin: 2vh auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 6fr;
      grid-template-columns: 1fr 3fr 6fr;
  -ms-grid-rows: 8fr 2fr;
      grid-template-rows: 8fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.top-container .single-movie h1 {
  color: #DAA89B;
}

.top-container .single-movie .title-description h2 {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
}

.top-container .single-movie .title-description p {
  margin: 2vh;
  height: 5vh;
  overflow: hidden;
  color: rgba(221, 221, 221, 0.5);
}

.top-container .single-movie .poster-container {
  margin: 2vh auto;
}

.top-container .single-movie .poster-container img {
  width: 15vw;
  height: 21vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-container .single-movie .score {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.8);
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-container .single-movie .score .star-container, .top-container .single-movie .score h3 {
  margin: 0 2vw;
}

.top-container .single-movie .score h3 {
  font-size: 2em;
}

.login {
  max-width: 800px;
  margin: 20vh auto;
  padding: 10%;
  text-align: center;
  position: relative;
  background-color: rgba(196, 196, 196, 0.2);
}

.login label {
  text-align: left;
  display: block;
  color: #DAA89B;
}

.login h1 {
  font-size: 2em;
  color: #DAA89B;
  margin-bottom: 30px;
}

.login input, .login textarea, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.login input {
  background-color: #DAA89B;
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin: 5vh auto;
}

.login input:focus {
  outline: none;
}

.login button {
  background: #DAA89B;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
}

.movies-container {
  width: 100vw;
}

.movies-container .search-container {
  padding-left: 25vw;
  padding-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movies-container .search-container .search-bar {
  width: 80%;
}

.movies-container .search-container .search-bar input {
  height: 8vh;
  width: 100%;
  top: 3vh;
  margin-bottom: 8vh;
  position: relative;
  padding-top: 1vh;
  background: rgba(196, 196, 196, 0.4);
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  border: none;
  outline: none;
  z-index: 3;
  font-size: 2em;
  padding: 1vh 1vw;
}

.movies-container .search-container .search-filter {
  height: 8vh;
  width: 100%;
  margin-bottom: 10vh;
  top: 2vh;
  padding-top: 2vh;
  background: rgba(252, 239, 195, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.movies-container .search-container .search-filter h2 {
  margin: 0 auto;
  color: black;
}

.movies-container .movie-list {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 9vw;
}

.movies-container .single-movie {
  height: 50vh;
  background: rgba(196, 196, 196, 0.4);
  width: 90%;
  margin: 1vh auto;
  position: relative;
}

.movies-container .single-movie .poster-container {
  margin: 2vh auto;
}

.movies-container .single-movie .poster-container img {
  width: 20vw;
  height: 28.5vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.movies-container .single-movie .score {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.8);
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movies-container .single-movie .score .star-container, .movies-container .single-movie .score h3 {
  margin: 0 2vh;
}

.movies-container .single-movie .score h3 {
  font-size: 2em;
}

.register {
  max-width: 800px;
  margin: 20vh auto;
  padding: 10%;
  text-align: center;
  position: relative;
  background-color: rgba(196, 196, 196, 0.2);
}

.register label {
  text-align: left;
  display: block;
  color: #DAA89B;
}

.register h1 {
  font-size: 2em;
  color: #DAA89B;
  margin-bottom: 30px;
}

.register input, .register textarea, .register select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.register input {
  background-color: #DAA89B;
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin: 5vh auto;
}

.register input:focus {
  outline: none;
}

.register button {
  background: #DAA89B;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
}

.admin {
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Rufina', serif;
}

body {
  background: #2C0E37;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */